/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    /* font-family: ; */
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.fullPageSection{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
}

nav a:last-child{
    margin-top: 20px;
    font-style: normal;
    font-weight: 800;
    display: inline-flex;
    width: 60px;
    height: 60px;
    background: none;
    border: 2px solid white;
    color: white;
    margin: 0 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 32px;
}

nav a:last-child:hover{
    text-decoration: none;
}

/* INTRO Section*/
.intro{
    background-color: #FFF50F;
    letter-spacing: 0.15em;
    font-weight: 900;
    font-size: 10vw;
    line-height: 169px;
}

.intro-1{
    background-color: #FFF50F;
    font-family: 'Nobile', sans-serif;
    font-size:2rem;
    line-height: 125.3%;
    /* or 44px */

    text-align: center;
    letter-spacing: 0.05em;
}



/* 
@media screen and (max-width: 1024px) {
    .intro-1{
        font-size:1.7em;
    }

    .text-intro-kiri{
        position: absolute;
        top: 20%;
        left: 5%;
    }
    
    .box-gambar-intro{
        background-position:;
        background-size: auto;
        background-position-x: -50px !important;
        background-repeat: no-repeat;
        filter: grayscale(100%);
        border: 9px solid #000000;
    }

}
@media screen and (min-width: 2560px) {
    .intro-1{
        font-size:3.7em;
    }
} */

.intro-1-kiri{
    /* width: 50%; */
    background-color: #FAFAFA;
    height: 100vh;
    /* padding-right: 20vw; */
}
.intro-1-kanan{
    height: 100vh;
    
}

.text-intro-kiri{
    position: absolute;
    top: 20vh;
    left: 5%;
}
.text-intro-kanan{
    position: absolute;
    top: 30vh;
    left: 35%;
}

.text-box-intro{
    width: 60%;
}

.box-gambar-intro{
    position: absolute;
    width: 30%;
    height: 80%;
    left: 0;
    right: 0;
    margin: auto;
    top: 11%;
    background: url("../img/gambar1.JPG");
    background-position: left;
    background-size: cover;
    background-position-x: -100px;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    border: 9px solid #000000;
}

.backgroundintro-2{
    background: url("../img/backgroundintro.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -120px;
    filter: grayscale(50%) contrast(50%) brightness(40%);
}



.kata{
    font-family: 'Nobile', sans-serif;
    font-size: 35px;
    color: #ffff;
}

/* Harlahpancasila Section */
.harlahpancasila{
   background: #DF3F3F;
}

.harlahpancasila .d-table{
    margin: 0 !important;
}

.harlahpancasila-1{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 125.3%;
    /* or 44px */
    letter-spacing: 0.05em;
}

.harlahpancasila-1 div:nth-child(1) {
    background-color: #F5C74D;
    margin: 0;
    padding: 0px;
    height: 50vh;
    color: #000000;
}
.harlahpancasila-1 div:nth-child(2) {
    background-color: #DF3F3F;
    height: 50vh;
    margin: 0;
    padding: 0px;
    color: #FFFFFF;
}

.harlahpancasila-1 div article:nth-child(1) hr{
    border: 10px solid #F5C74D;
    border-radius: 0px 30px 30px 0px;
}
.harlahpancasila-1 div article:nth-child(2) hr{
    border: 10px solid #DF3F3F;
    border-radius: 30px 0px 0px 30px;
}


.harlahpancasila-2{
    margin: 0;
    padding: 0;
}

.respontext{
    background-color: #FA5B29;
    height: 100vh;
    margin: 0px;
    padding: 0;

    font-family: Nobile;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 125.3%;
    /* or 44px */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.respontext1{
    height: 100vh;
    background: url("../img/upacara1.jpg");
    background-position-y: -200px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.harlahpancasila-2{
    margin: 0;
    padding: 0;
}

.harlahpancasila-3 div:nth-child(1){
    height: 100vh;
    background: url("../img/upacara2.JPG");
    background-position-x: -165px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.harlahpancasila-3 div:nth-child(2){
    background-color: #FED715;
    height: 100vh;
    margin: 0px;
    padding: 0;

    text-align: end;
    font-family: Nobile;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 125.3%;
    /* or 44px */
    letter-spacing: 0.05em;
    color: black;
}



/* UPACARA */
.upacara{
    background-color: #F33D03;
    letter-spacing: 0.15em;
    font-weight: 900;
    font-size: 10vw;
    line-height: 169px;
    color: #FFDB1E;
}

.upacara1{
    background: #FFB500;
}

.upacara1 div:nth-child(1){
    height: 60vh;
    width: 100vw;
    background: url("../img/upacara03.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
    background-position-x: 0px;
}

.upacara1 div:nth-child(2){
    height: 40vh;
    width: 100vw;

    font-family: Nobile;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 125.3%;
    /* or 44px */
    text-align: center;
    letter-spacing: 0.05em;
    color: #141414;
}

.upacara2{
    background: #FF82E2;
}

.upacara2-1{
    height: 75vh;   
    color: #000000;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 125.3%;
    /* or 44px */
    letter-spacing: 0.05em;
}

.upacara2-2{
    height: 75vh;
}
.upacara2-2 img{
    height: 70vh;
    width: 100%;
}

footer{
    width:100vw;
    height: 20vh;
    background: #FF82E2;
    overflow: hidden;
}
footer div{
    width: 100vw;
    background: #FF82E2;
    margin: auto;
    text-align: center;
}
footer div main{
    font-size: 20px;
    
}
footer section a{
    margin-top: 20px;
    font-style: normal;
    font-weight: 800;
    display: inline-flex;
    width: 60px;
    height: 60px;
    background: #2c3e50;
    color: white;
    margin: 0 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 32px;
}
footer section div a{
    top: 0;
    left: 82%;
    position: absolute;
    margin-top: 20px;
    font-style: normal;
    font-weight: 800;
    display: inline-flex;
    width: 60px;
    height: 60px;
    background: none;
    border: 2px solid white;
    color: white;
    margin: 0 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 32px;
}

footer section a:hover{
    background: #FAFAFA;
    color: black;
    text-decoration: none;
}

/* Mobile Responsive */
@media screen and (max-width: 768px){
    .intro {
      font-size: 15vw;
    }

    .intro-1{
        height: 100%;
        font-size: 7vw;
        line-height: auto;
        text-align: center;
        letter-spacing: auto;
    }

    .box-gambar-intro{
        top: 37%;
        height: 50vh;
        width: 40vh;
        left: 0;
        right: 0;
        margin: auto;
        background-position-x: 50%;
    }

    .text-box-intro{
        width: 80%;
    }
    .text-intro-kanan{
        position: absolute;
        top: 40vh;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 3vh;
    }

    .text-intro-kiri{
        position: absolute;
        top: 15vh;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 3vh;
    }

    .backgroundintro-2{
        background: url("../img/backgroundintro.JPG");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: auto;
        background-position-x: -30vw;
        filter: grayscale(50%) contrast(50%) brightness(40%);
    }

    .kata{
        font-size: 3vh;
    }

    .harlahpancasila-1{
        font-size: 3vh;
    }

    .harlahpancasila-1 div:nth-child(2) {
        text-align: end;
    }
    
    .harlahpancasila-2{
        height: 100%!important;
    }

    .respontext{
        font-size: 3vh;
        line-height: 125.3%;
        letter-spacing: 0.05em;
    }

    .respontext1{
        background-position-y: 0vh;
        background-position-x: 50%;
    }

    .harlahpancasila-3{
        height: 100%!important;
    }

    .harlahpancasila-3 div:nth-child(1){
        height: 100vh;
        background: url("../img/upacara2.JPG");
        background-position-x: 93%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 0;
    }
    
    .harlahpancasila-3 div:nth-child(2){
        background-color: #FED715;
        height: 100vh;
        margin: 0px;
        padding: 0;
    
        text-align: end;
        font-family: Nobile;
        font-style: normal;
        font-weight: normal;
        font-size: 3vh;
        line-height: 125.3%;
        /* or 44px */
        letter-spacing: 0.05em;
        color: black;
    }

    .upacara{
        font-size: 15vw;
    }

    .upacara1{
        height: 100%;
    }

    .upacara1 div:nth-child(1){
        height: 100vh;
        width: 100vw;
        background: url("../img/upacara5.jpg");
        background-size: cover;
        background-position: center;
        background-position-x: -23vw;
    }

    .upacara1 div:nth-child(2){
        height: 100vh;
        width: 100vw;
    
        font-family: Nobile;
        font-style: normal;
        font-weight: normal;
        font-size: 7vw;
        line-height: 125.3%;
        /* or 44px */
        text-align: center;
        letter-spacing: 0.05em;
        color: #141414;
    }

    .upacara2{
        height: 100%;
    }

    .upacara2-1{
        height: 100%;
        font-size: 7vw;
    }

    .upacara2-2{
        height: 100vh;
        width: 100vw;
        background: url("../img/upacara4.JPG");
        background-size: cover;
        background-position: center;
        background-position-x: -35vh;
    }
    
}

