/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.fullPageSection{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
}

nav a:last-child{
    margin-top: 20px;
    font-style: normal;
    font-weight: 800;
    display: inline-flex;
    width: 60px;
    height: 60px;
    background: none;
    border: 2px solid white;
    color: white;
    margin: 0 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 32px;
}

nav a:last-child:hover{
    text-decoration: none;
}

/* Index */
.row1 {
    background: #FFF5C1;
}

.row1 h1{
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1rem;
    overflow: hidden;
}

.row1 a{
    font-size: 4vh;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    color: black;
    background: white;
    border: 2px solid black;
    border-radius: 500px;
    padding: 2vh 4vh;
}

.row1 a:hover{
    text-decoration: none;
    color: black;
}

.row1 h1:nth-child(1){
    font-size: 7vw;
}

.row1 h1:nth-child(2){
    font-size: 3vw;
}

.row1 h1:nth-child(3){   
    font-size: 7vw;
    margin-bottom: 5vh;
}

.row1 {
    background: #FFF5C1;
}

.row1 {
    background: #FFF5C1;
}

.row2 {
    background: #FD9F20;
}

.row3 {
    background: #FF0464;
}

.row4 {
    background: #0B466B;
}

/* Intro */
.intro{
    background-color: #113E5A;
    letter-spacing: 0.15em;
    font-weight: 900;
    font-size: 10vw;
    line-height: 169px;
    color: #FF0464;
}

.intro-1{
    background-color: #FD9F20;
    font-size: 4vh;
    line-height: 125.3%;
    /* or 44px */

    text-align: center;
    letter-spacing: 0.05em;
}

.intro-1-kiri{
    /* width: 50%; */
    background-color: #FAFAFA;
    height: 100vh;
    /* padding-right: 20vw; */
}

.intro-1-kanan{
    height: 100vh;
    
}

.text-intro-kiri{
    position: absolute;
    top: 25vh;
    left: 5%;
    
}

.text-intro-kanan{
    position: absolute;
    top: 30vh;
    left: 35%;
}

.text-box-intro{
    width: 60%;
    overflow: hidden;
}

.box-gambar-intro{
    position: absolute;
    width: 30%;
    height: 80%;
    left: 0;
    right: 0;
    margin: auto;
    top: 11%;
    background: url("../img/gambar1.JPG");
    background-position: left;
    background-size: cover;
    background-position-x: -100px;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    border: 9px solid #000000;
}

.backgroundintro-2{
    background: url("../img/online.jpg");
    background-size: 250vh;
    background-repeat: no-repeat;
    background-position-y: -160px;
    filter: grayscale(50%) contrast(50%) brightness(40%);
}

.kata{
    font-size: 4.5vh;
    color: #ffff;
}

/* Harlahpancasila Section */
.harlahpancasila{
   background: #A92424;
}

.harlahpancasila .d-table{
    margin: 0 !important;
}

.harlahpancasila-1{
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    line-height: 125.3%;
    /* or 44px */
    letter-spacing: 0.05em;
}

.harlahpancasila-1 div:nth-child(1) {
    background-color: #FF0464;
    margin: 0;
    padding: 0px;
    height: 50vh;
    color: #FFF5C1;
}

.harlahpancasila-1 div:nth-child(2) {
    background-color: #FFF5C1;
    height: 50vh;
    margin: 0;
    padding: 0px;
    color: #FF0464;
}

.harlahpancasila-1 div article:nth-child(1) hr{
    border: 10px solid #FF0464;
    border-radius: 0px 30px 30px 0px;
}

.harlahpancasila-1 div article:nth-child(2) hr{
    border: 10px solid #FFF5C1;
    border-radius: 30px 0px 0px 30px;
}

.harlahpancasila-1 div article:nth-child(1){
    overflow-y: hidden !important;
}

.harlahpancasila-1 div article:nth-child(2){
    overflow-y: hidden !important;
}

.harlahpancasila-2{
    margin: 0;
    padding: 0;
}

.respontext{
    background-color: #113E5A;
    height: 100vh;
    margin: 0px;
    padding: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    line-height: 125.3%;
    /* or 44px */

    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.respontext1{
    height: 100vh;
    background: url("../img/rapat.png");
    /* background-position-y: -200px;
    background-repeat: no-repeat; */
    background-size: cover;
    padding: 0;
    margin: 0;
}

.harlahpancasila-2{
    margin: 0;
    padding: 0;
}

.harlahpancasila-3 div:nth-child(1){
    height: 100vh;
    background: url("../img/upacara2.JPG");
    background-position-x: 97%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.harlahpancasila-3 div:nth-child(2){
    background-color: #FFDB1E;
    height: 100vh;
    margin: 0px;
    padding: 0;

    text-align: end;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    line-height: 125.3%;
    /* or 44px */
    letter-spacing: 0.05em;
    color: black;
}

/* UPACARA */
.upacara{
    background-color: #DF3F3F;
    letter-spacing: 0.15em;
    font-weight: 900;
    font-size: 10vw;
    line-height: 169px;
    color: #78E6EA;
}

.upacara1{
    background: #FFF5C1;
}

.upacara1 div:nth-child(1){
    height: 60vh;
    width: 100vw;
    background: url("../img/upacara03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
    background-position-x: 0px;
}

.upacara1 div:nth-child(2){
    height: 40vh;
    width: 100vw;

    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    line-height: 125.3%;
    /* or 44px */
    text-align: center;
    letter-spacing: 0.05em;
    color: #141414;
}

.upacara1 div:nth-child(2) article{
    overflow: hidden !important;
}

.upacara1 div:nth-child(2){
    /* height: 100vh; */
    width: 100vw;
    font-size: 4vh;
}

.upacara2{
    background: #FFFEFE;
}

.red-bordr{
    width: 100vw;
    background: #DD1414;
    height: 12vh;
}

.upacara2-1{
    height: 73vh;   
    color: #194B6B;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    line-height: 125.3%;
    letter-spacing: 0.05em;
    overflow: hidden;
}

.box-upacara-1{
    position: relative;
    top: -5%;
    right: -2%;
}

.box-upacara-2{
    width: 60vh;
    height: 100%;
    background: url("../img/upacara1.jpg");
    background-position: contain;
    background-position-y: -23vh;
    background-size: cover;
    background-repeat: no-repeat;
}


#footer-2{
    width:100vw;
    overflow: hidden;
    height: 20vh;
}

#footer-2 div{
    width: 100vw;
    margin: auto;
    text-align: center;
}

#footer-2 div main{
    font-size: 2.3vh;
}

#footer-2 section a{
    margin-top: 20px;
    font-style: normal;
    font-weight: 800;
    display: inline-flex;
    width: 7vh;
    height: 7vh;
    background: #2c3e50;
    color: white;
    margin: 0 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 4vh;
}

#footer-2 section div a{
    top: 0;
    left: 82%;
    position: absolute;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    display: inline-flex;
    width: 7vh;
    height: 7vh;
    background: none;
    border: 1px solid #DD1414;
    color: #DD1414;
    margin: 0 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 4vh;
}

#footer-2 section a:hover{
    background: #FAFAFA;
    color: black;
    text-decoration: none;
}

/* Halaman About Us */
.aboutus{
    background: #FF0464;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 900;
    font-size: 10vw;
    line-height: 169px;
    color: #FFF5C1;
}

.aboutus2{
    background: #171717;
    height: 85vh !important;
}

.special-card{
    background: none!important;
    color: white;
}

.bordergambar1{
    height: 50vh;
    background-image: url("../img/01.jpg");
    background-position: center;
    background-size: 60vh;
    background-repeat: no-repeat;
    border: 8px solid white;
}

.bordergambar2{
    height: 50vh;
    background-image: url("../img/02-min.jpg");
    background-position: center;
    background-size: 80vh;
    background-repeat: no-repeat;
    border: 8px solid white;
}

.bordergambar3{
    height: 50vh;
    background-image: url("../img/04.jpeg");
    background-position: bottom;
    background-position-x: -26.5vh;
    background-position-y: -45vh;
    background-size: 95vh;
    background-repeat: no-repeat;
    border: 8px solid white;
}

#footer-3{
    width:100vw;
    height: 15vh;
    background: #171717;
    overflow: hidden;
}

#footer-3 div{
    width: 100vw;
    margin: auto;
    text-align: center;
}

#footer-3 div main{
    font-size: 20px;
    color: white;
}

#footer-3 section a{
    margin-top: 20px;
    font-style: normal;
    font-weight: 800;
    display: inline-flex;
    width: 60px;
    height: 60px;
    background: #2c3e50;
    color: white;
    margin: 0 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 32px;
}

#footer-3 section a:hover{
    background: #FAFAFA;
    color: black;
    text-decoration: none;
}

/* Mobile Responsive */
@media screen and (max-width: 767px){

    .intro {
      font-size: 15vw;
    }

    .intro-1{
        height: 100%;
        font-size: 7vw;
        line-height: auto;
        text-align: center;
        letter-spacing: auto;
    }

    .box-gambar-intro{
        top: 37%;
        height: 50vh;
        width: 40vh;
        left: 0;
        right: 0;
        margin: auto;
        background-position-x: 50%;
    }

    .text-box-intro{
        width: 80%;
    }

    .text-intro-kanan{
        position: absolute;
        top: 40vh;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 3vh;
    }

    .text-intro-kiri{
        position: absolute;
        top: 15vh;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 3vh;
    }

    .backgroundintro-2{
        background-size: 265vh;
        background-repeat: no-repeat;
        background-position-y: -25vh;
        background-position-x: 0;
        filter: grayscale(50%) contrast(50%) brightness(40%);
    }

    .kata{
        font-size: 3vh;
    }

    .harlahpancasila-1{
        font-size: 3vh;
    }

    .harlahpancasila-1 div:nth-child(2) {
        text-align: end;
    }
    
    .harlahpancasila-2{
        height: 100%!important;
    }

    .respontext{
        font-size: 3vh;
        line-height: 125.3%;
        letter-spacing: 0.05em;
        height: 100vh !important;
        text-align: center;
    }

    .respontext1{
        /* background-position-y: 0vh;
        background-position-x: 50%; */
    }

    .harlahpancasila-3{
        height: 100%!important;
    }

    .harlahpancasila-3 div:nth-child(1){
        height: 100vh;
        background: url("../img/upacara2.JPG");
        background-position-x: 93%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 0;
    }
    
    .harlahpancasila-3 div:nth-child(2){
        background-color: #FFDB1E;
        height: 100vh;
        margin: 0px;
        padding: 0;
        font-size: 3vh;
        text-align: center;
    }

    .upacara{
        font-size: 15vw;
    }

    .upacara1{
        height: 100%;
    }

    .upacara1 div:nth-child(1){
        height: 100vh;
        width: 100vw;
        background: url("../img/upacara5.jpg");
        background-size: cover;
        background-position: center;
        background-position-x: -23vw;
    }

    .upacara1 div:nth-child(2){
        height: 100vh;
        width: 100vw;
        font-size: 3vh;
    }

    .upacara2{
        background: #FFFEFE;
        height: 100% !important;
    }
    
    .red-bordr{
        width: 100vw;
        background: #DD1414;
        height: 10vh;
    }
    
    .upacara2-1{
        width: 80%;
        height: 100%;   
        color: #194B6B;
        font-style: normal;
        font-weight: normal;
        font-size: 3vh;
        line-height: 125.3%;
        letter-spacing: 0.05em;
        overflow: hidden;
        padding: 5vh 0 5vh 0!important;
        margin: auto;
        text-align: center;
    }
    
    .box-upacara-1{
        position: relative;
        top: 0%;
        right: 0%;
        height: 100vh;
        padding-left: 0;
        padding-right: 0;
    }
    
    .box-upacara-2{
        width: 100vw;
        height: 100%;
        background: url("../img/upacara1.jpg");
        background-position: center;
        background-position-y: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* #footer-2{
        height: 20vh;
    }

    #footer-2 div main{
        font-size: 3vh;
    } */

    footer section a{
        margin-top: 20px;
        font-style: normal;
        font-weight: 800;
        display: inline-flex;
        width: 9vh;
        height: 9vh;
        background: #2c3e50;
        color: white;
        margin: 0 10px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        font-size: 4vh;
    }
    
    footer section a:hover{
        background: #2c3e50;
        color: white;
        text-decoration: none;
    }

    /* About Us */
    #footer-3{
        width:100vw;
        height: 100%;
        padding-bottom: 20px;
        background: #171717;
    }
    
    #footer-3 section a:hover{
        background: #2c3e50;
        color: white;
        text-decoration: none;
    }

    .aboutus{
        font-size: 7vh;
    }

    .aboutus2{
        height: 100% !important;
        padding-top: 11vh;
    }

    .aboutus2 .fullPageSection{
        height: 100% !important;
    }

    .bordergambar1{
        height: 40vh;
        background-image: url("../img/01.jpg");
        background-position: center;
        background-size: 60vh;
        background-repeat: no-repeat;
        border: 8px solid white;
    }

    .bordergambar2{
        height: 40vh;
        background-image: url("../img/02-min.jpg");
        background-position: center;
        background-size: 80vh;
        background-repeat: no-repeat;
        border: 8px solid white;
    }

    .bordergambar3{
        height: 40vh;
        background-image: url("../img/04.jpeg");
        background-position: bottom;
        background-position-x: -25vh;
        background-position-y: -50vh;
        background-size: 95vh;
        background-repeat: no-repeat;
        border: 8px solid white;
    }


    /* Index */
    .row1 a{
        font-size: 6vw;
        padding: 2vh 4vh;
    }

    .row1 .container-fluid{
        text-align: center;
    }
    
    .row1 a:hover{
        text-decoration: none;
        color: black;
    }
    
    .row1 h1{
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0;
    }

    .row1 h1:nth-child(1){
        font-size: 10vw;
    }
    
    .row1 h1:nth-child(2){
        font-size: 7vw;
    }
    
    .row1 h1:nth-child(3){   
        font-size: 10vw;
        margin-bottom: 3vh;
    }
    
}

/* Tablet Responsive */
@media (min-width: 768px) and (max-width: 1023px) {

    nav img{
        width: 15vh !important;
    }

    nav a:last-child{
        margin-top: 20px;
        font-style: normal;
        font-weight: 800;
        display: inline-flex;
        width: 80px;
        height: 80px;
        background: none;
        border: 2px solid white;
        color: white;
        margin: 0 10px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        font-size: 42px;
    }
    
    nav a:last-child:hover{
        text-decoration: none;
    }

    .intro {
        font-size: 15vw;
      }
  
    .intro-1{
        height: 100%;
        font-size: 7vw;
        line-height: auto;
        text-align: center;
        letter-spacing: auto;
    }

    .box-gambar-intro{
        top: 37%;
        height: 50vh;
        width: 40vh;
        left: 0;
        right: 0;
        margin: auto;
        background-position-x: 50%;
    }

    .text-box-intro{
        width: 80%;
    }

    .text-intro-kanan{
        position: absolute;
        top: 40vh;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 3vh;
    }

    .text-intro-kiri{
        position: absolute;
        top: 15vh;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 3vh;
    }

    .backgroundintro-2{
        background-size: 300vh;
        background-repeat: no-repeat;
        background-position-y: -27vh;
        background-position-x:;
        filter: grayscale(50%) contrast(50%) brightness(40%);
    }

    .kata{
        font-size: 3vh;
    }

    .harlahpancasila-1{
        font-size: 3vh;
    }

    .harlahpancasila-1 div:nth-child(2) {
        text-align: end;
        font-size: 2.5vh;
    }
    .harlahpancasila-1 div:nth-child(1) {
        font-size: 2.5vh;
    }
    
    .harlahpancasila-2{
        height: 100%!important;
    }
  
    .respontext{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 3vh;
        line-height: 125.3%;
        letter-spacing: 0.05em;
    }
  
    .respontext1{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        /* background-position-y: -20vh;
        background-position-x: 50%; */
    }
  
    .harlahpancasila-3{
        height: 100%!important;
    }
  
    .harlahpancasila-3 div:nth-child(1){
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        height: 100vh;
        background: url("../img/upacara2.JPG");
        background-position-x: 93%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 0;
    }
      
    .harlahpancasila-3 div:nth-child(2){
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #FFDB1E;
        height: 100vh;
        margin: 0px;
        padding: 0;
        font-size: 3vh;
    }
  
    .upacara{
        font-size: 15vw;
    }
  
    .upacara1{
        height: 100%;
    }
  
    .upacara1 div:nth-child(1){
        height: 100vh;
        width: 100vw;
        background: url("../img/upacara5.jpg");
        background-size: cover;
        background-position: center;
    }
  
    .upacara1 div:nth-child(2){
        height: 100vh;
        width: 100vw;
        font-size: 3vh;
    }
  
    .upacara2{
        background: #FFFEFE;
        height: 100% !important;
    }
    
    .red-bordr{
        width: 100vw;
        background: #DD1414;
        height: 10vh;
    }
    
    .upacara2-1{
        width: 80%;
        height: 100%;   
        color: #194B6B;
        font-style: normal;
        font-weight: normal;
        font-size: 3vh;
        line-height: 125.3%;
        letter-spacing: 0.05em;
        overflow: hidden;
        padding: 5vh 0 5vh 0!important;
        margin: auto;
        text-align: start;
    }
    
    .box-upacara-1{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        top: 0%;
        right: 0%;
        height: 100vh;
        padding-left: 0;
        padding-right: 0;
    }
    
    .box-upacara-2{
        width: 100vw;
        height: 100%;
        background: url("../img/upacara1.jpg");
        background-position: center;
        background-position-y: -27vh;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #footer-2{
        height: 20vh;
        padding-bottom: 55px;
    }

    #footer-2{
        height: 20vh;
    }

    #footer-2 div main{
        font-size: 3vh;
    }

    #footer-2 section a{
        margin-top: 20px;
        font-style: normal;
        font-weight: 800;
        display: inline-flex;
        width: 8vh;
        height: 8vh;
        background: #2c3e50;
        color: white;
        margin: 0 10px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        font-size: 4vh;
    }
    
    #footer-2 section a:hover{
        background: #2c3e50;
        color: white;
        text-decoration: none;
    }

    #footer-2 section div a{
        top: 0;
        left: 82%;
        position: absolute;
        margin-top: 20px;
        font-style: normal;
        font-weight: 800;
        display: inline-flex;
        width: 8vh;
        height: 8vh;
        background: none;
        border: 2px solid white;
        color: white;
        margin: 0 10px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        font-size: 4vh;
    }

    /* About Us */
    .special-card{
        width: 20vh !important;
    }

    .bordergambar1{
        height: 30vh;
        background-image: url("../img/01.jpg");
        background-position: center;
        background-size: 36vh;
        background-repeat: no-repeat;
        border: 8px solid white;
    }

    .bordergambar2{
        height: 30vh;
        background-image: url("../img/02-min.jpg");
        background-position: center;
        background-size: 50vh;
        background-repeat: no-repeat;
        border: 8px solid white;
    }

    .bordergambar3{
        height: 30vh;
        background-image: url("../img/04.jpeg");
        background-position: bottom;
        background-position-x: -27vh;
        background-position-y: -40vh;
        background-size: 75vh;
        background-repeat: no-repeat;
        border: 8px solid white;
    }

    .ocang .card-body{
        height: 19.3vh;
    }

    .irun .card-body{
        height: 19.3vh;
    }


    /* Index */
    .row1 a{
        font-size: 4vw;
        font-weight: 600;
        font-style: normal;
        text-decoration: none;
        color: black;
        background: white;
        border: 2px solid black;
        border-radius: 500px;
        padding: 1.7vh 4vh;
    }
    
    .row1 a:hover{
        text-decoration: none;
        color: black;
    }
    
    .row1 h1{
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0;
    }

    .row1 h1:nth-child(1){
        font-size: 8.4vw;
    }
    
    .row1 h1:nth-child(2){
        font-size: 5vw;
    }
    
    .row1 h1:nth-child(3){   
        font-size: 8.4vw;
        margin-bottom: 3vh;
    }
}

/* Small Laptop & Desktop */
@media (min-width: 1024px) and (max-width: 1280px) {
    .intro {
        font-size: 15vw;
    } 
  
    .intro-1{
        height: 100%;
        font-size: 3vh;
        line-height: auto;
        text-align: center;
        letter-spacing: auto;
    }

    .intro-1 div:nth-child(1){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .text-box-intro{
        width: 100%;
    }

    .text-intro-kiri{
        position: absolute;
        top: 30vh;
        left: 12%;
    }
    .text-intro-kanan{
        position: absolute;
        top: 35vh;
        left: 40%;
    }

    .box-gambar-intro{
        position: absolute;
        width: 40vh;
        height: 70vh;
        left: 0;
        right: 0;
        margin: auto;
        top: 15vh;
        background: url("../img/gambar1.JPG");
        background-position: left;
        background-size: cover;
        background-position-x: -60px;
        background-repeat: no-repeat;
        filter: grayscale(100%);
        border: 9px solid #000000;
    }
  
      .backgroundintro-2{
          background-size: 300vh;
          background-repeat: no-repeat;
          background-position-y:-30vh;
          background-position-x:;
          filter: grayscale(50%) contrast(50%) brightness(40%);
      }
  
      .kata{
          font-size: 3vh;
      }
  
      .harlahpancasila-1{
          font-size: 3vh;
      }
  
      .harlahpancasila-1 div:nth-child(2) {
          text-align: end;
      }
      
      .harlahpancasila-2{
          height: 100vh!important;
      }
  
      .respontext{
          font-size: 3vh;
          line-height: 125.3%;
          letter-spacing: 0.05em;
      }
  
      .respontext1{
          /* background-position-y: 0vh;
          background-position-x: 50%; */
      }
  
      .harlahpancasila-3{
          height: 100vh!important;
      }
  
      .harlahpancasila-3 div:nth-child(1){
          height: 100vh;
          background: url("../img/upacara2.JPG");
          background-position-x: 93%;
          background-repeat: no-repeat;
          background-size: cover;
          padding: 0;
          margin: 0;
      }
      
      .harlahpancasila-3 div:nth-child(2){
          background-color: #FFDB1E;
          height: 100vh;
          margin: 0px;
          padding: 0;
          font-size: 3vh;
      }
  
      .upacara{
          font-size: 15vw;
      }
  
      .upacara1{
          height: 100vh;
      }
  
      .upacara1 div:nth-child(1){
          /* height: 100vh;
          width: 100vw; */
          background: url("../img/upacara03.jpg");
          background-size: cover;
          background-position: left;
      }
  
      .upacara1 div:nth-child(2){
          font-size: 3vh;
      }
  
      /* .upacara2{
        background: #FFFEFE;
        height: 100% !important;
    }
    
    .red-bordr{
        width: 100vw;
        background: #DD1414;
        height: 10vh;
    }*/
    
    .upacara2-1{
        color: #194B6B;
        font-style: normal;
        font-weight: normal;
        font-size: 3vh;
        line-height: 125.3%;
        letter-spacing: 0.05em;
        overflow: hidden;
        height: 68vh;
    }

    .box-upacara-1{
        position: relative;
        right: 3%;
    }
    
    .box-upacara-2{
        width: 40vw;
        height: 100%;
        background-position-y: -20vh;
    }

    #footer-2{
        margin-top: 5vh;
        height: 100%;
        padding-bottom: 55px;
    }

    /* Index */

    .row1 h1:nth-child(1){
        font-size: 6.5vw;
    }
    
    .row1 h1:nth-child(2){
        font-size: 3vw;
    }
    
    .row1 h1:nth-child(3){   
        font-size: 6.5vw;
        margin-bottom: 3vh;
    }

    
}